<library path="src">
  <class name="RosGraphFocus" type="rqt_graph_focus.ros_graph.RosGraph" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin to visualize a ROS computation graph with click-to-focus.
    </description>
    <qtgui>
      <group>
        <label>Introspection</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to introspection.</statustip>
      </group>
      <label>Node Graph (Focus)</label>
      <icon type="theme">preferences-system-network</icon>
      <statustip>ROS graph with click-to-focus and connection list features.</statustip>
    </qtgui>
  </class>
</library>
